:root {
  // BLACK
  --black-primary: #2d240c;
  --black-light: #72591e;

  // YELLOW
  --yellow-primary: #e3b23c;
  --yellow-dark: #e57c04;
  --yellow-light-1: #f9f0d8;
  --yellow-light-2: #f4e0b1;

  // WHITE
  --white-primary: #e9ecef;
  --white-dark: #ced4da;

  // RED
  --red-primary: #b33951;
  --red-dark: #6a041d;
}

// SIZES FOR MARGIN AND PADDING ///////////////////////////////////////////////
$sm: 0.5rem;
$md: 1rem;
$lg: 1.5rem;

$h1-size: 3rem;
$h2-size: rem(24px);
$h3-size: rem(52px);
$h4-size: rem(18px);
$p-size: 1rem;
$list-size: rem(14px);
