.navbar {
  // 1. BASIC NAVBAR STYLES ///////////////////////////////////////////////
  //----------------------------------//
  // checkbox
  &__checkbox {
    display: none;
  }

  // label: background for the hamburger menu
  &__label {
    position: fixed;
    top: rem(10px);
    left: rem(19px);
    z-index: 2000;
    cursor: pointer;
    border: 1px solid var(--black-primary);
    border-radius: 5px;
    text-align: center;
    padding: rem(3px) rem(10px);
    overflow: hidden;
    transition: all 0.4s ease;

    &::after {
      // Add a blur to the background of the label
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      z-index: -1;
    }
  }

  // icon: Create the hamburger menu
  &__icon {
    position: relative;
    width: 1.5rem;
    &,
    &::after,
    &::before {
      height: 2px;
      background-color: var(--black-primary);
      display: inline-block;
      line-height: 0;
      vertical-align: middle;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1rem;
      left: 50%;
      transform: translateX(-50%);
      transition: top 0.2s ease-in, transform 0.2s ease-in;
    }

    &::before {
      top: -0.4rem;
    }
    &::after {
      top: 0.4rem;
    }
  }

  // nav
  &__nav {
    position: fixed;
    top: rem(10px);
    left: rem(64px);
    z-index: 1500;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  // list
  &__list {
    display: flex;
    border: 1px solid var(--black-primary);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    position: relative;
    transition: transform 0.2s ease, opacity 0.2s ease;
    overflow: hidden;
    transform: scale(0);
    opacity: 0;

    // Create blur background for navbar
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      z-index: -1;
    }
  }

  // item
  &__item {
    &:not(:last-child) {
      border-right: 1px solid var(--black-primary);
    }
  }

  // Link
  &__link {
    &:link,
    &:visited {
      display: inline-block;
      padding: rem(3px) rem(10px);
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        var(--yellow-light-2) 50%
      );
      background-size: 240%;
      transition: background-position 0.3s cubic-bezier(0.65, 0, 1, 1);
    }

    &:hover,
    &:active {
      background-position: 100%;
    }
  }
  // 2. FUNCTIONALITY //////////////////////////////////////////////////////
  //----------------------------------//
  // label:hover
  &__label:hover &__icon::before {
    top: -0.43rem;
  }

  &__label:hover &__icon::after {
    top: 0.43rem;
  }

  // checkbox:checked //
  //remove the right side border radius of label
  &__checkbox:checked ~ &__label {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  // make icon background transparent
  &__checkbox:checked + &__label &__icon {
    background-color: transparent;
  }

  //   Display navbar
  &__checkbox:checked ~ &__nav &__list {
    opacity: 1;
    transform: scale(1);
  }

  // position icon:before and icon:after default position and rotate them to form
  // a closing icon
  &__checkbox:checked + &__label &__icon::before,
  &__checkbox:checked + &__label &__icon::after {
    top: 0;
    left: 0;
    background-color: var(--red-primary);
    width: 1.5rem;
  }
  &__checkbox:checked + &__label &__icon::before {
    transform: rotate(135deg) translateX(0);
  }
  &__checkbox:checked + &__label &__icon::after {
    transform: rotate(-135deg) translateX(0);
  }

  // When hovering over the label, change the background color of the closing icon
  // and scale it down
  &__checkbox:checked + &__label:hover &__icon::after,
  &__checkbox:checked + &__label:hover &__icon::before {
    background-color: var(--red-dark);
  }
  &__checkbox:checked + &__label:hover &__icon::after {
    transform: rotate(-135deg) scale(0.9);
  }
  &__checkbox:checked + &__label:hover &__icon::before {
    transform: rotate(135deg) scale(0.9);
  }
}
