.resume {
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0.5rem;
  }
  &__item {
    &--edu {
      grid-row: 1;
      grid-column: 1 / span 2;
    }
    &--skill {
      grid-row: 2;
      grid-column: 1 / span 3;
    }
    &--course {
      justify-self: center;
      grid-row: 1;
      grid-column: 2 / span 2;

      &-list {
        column-count: 2;
      }
    }
    &--project {
      grid-row: 3;
      grid-column: 1 / span 3;
      li {
        list-style: disc;
        max-width: 50ch;
        margin-left: 20px;

        &:nth-child(odd) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: rem(900px)) {
  .resume__item--project .flex {
    flex-direction: column;
  }

  .resume__item--course {
    justify-self: end;
  }
  .resume__item--edu .section__flex {
    gap: 0.5rem;
  }
}
